---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Trial",
    price: "Free",
    popular: false,
    features: [
      "1 week free",
      "Up to 3 templates",
      "limited Pages",
      "free tier domain",
      "Basic designs",
      "Customer Support",
    ],
    button: {
      text: "Get Started",
      link: "tel:+91 74558 85832",
    },
  },
  {
    name: "DineBoost Takeoff",
    price: {
      monthly: "$249",
      annual: "$249",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "All Features unlocked",
      "Up to 20 tables",
      "20 Custom templates",
      "Unlimited changes",
      "Advanced Integrations",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "tel:+91 74558 85832",
    },
  },
  {
    name: "DineBoost premium",
    price: "custom",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom templates",
      "personalized strategies",
      "IoT Integration",
      "Dedicated Account Manager",
      "24/7 Phone Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
