---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Beautiful, Customizable Websites",
    description:
      "Build a stunning website in minutes with our easy-to-use platform, fully tailored to your restaurant’s unique vibe.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Customer Retention Tools",
    description:
      "Engage your customers with personalized offers, loyalty programs, and reservation reminders, all integrated seamlessly.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Tabletop Data Collection",
    description:
      "Our innovative table scanners collect crucial data about your customers’ preferences, dining habits, and feedback, helping you serve them better.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Increase Online Visibility",
    description:
      "Make your restaurant discoverable with built-in SEO tools and integration with popular food platforms and Google Maps. ",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Analytics at Your Fingertips",
    description:
      "Track the success of your restaurant in real-time with detailed analytics on customer visits, feedback, and online engagement.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Why DineBoost?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
   At DineBoost, we take the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
