---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      The Ultimate Revenue Booster tool for your Resturant!
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Elevate Your Restaurant Experience Online In today’s competitive landscape, your restaurant's online presence is as crucial as the food you serve. DineBoost helps you create stunning, user-friendly websites and retain customers effortlessly. Our platform not only makes your restaurant look great online, but also collects valuable customer insights with in-table scanners to give you a real-time edge.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="/blog"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

         Show me how?
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/contact"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         Already sold? click here !
      </Link>
    </div>
  </div>
</main>
